$light-green: #9cc7b5;
$dark-green: #57796b;
$text-color: #3e423c;

$shadow-light: .1rem .1rem .3rem $light-green;
$shadow-medium: .1rem .1rem .8rem $dark-green;
$shadow-dark: .1rem .1rem .8rem #333;
